.logo {
  height: 250px;
  padding: 20px;
  padding-right: 145px;
}

.page-select {
  text-decoration: none;
  text-align: center;
  color: #FACF21;
}
.page-select:hover {
  color: #D72348;
}

.select-container {
  text-align: center;
}

#home-image {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}