.logo {
  height: 250px;
  padding: 20px;
  padding-right: 145px;
}

.page-select {
  text-decoration: none;
  text-align: center;
  color: #FACF21;
}
.page-select:hover {
  color: #D72348;
}

.select-container {
  text-align: center;
}

#home-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-height: 70vh;
  background-size: cover;
}